extends layout
block stylesheets
  link(rel='stylesheet', href='/javascripts/markitup/skins/macosx/style.css')
  link(rel='stylesheet', href='/javascripts/markitup/sets/markdown/style.css')
  link(href='/stylesheets/jquery.motionCaptcha.0.2.css')
  link(rel='stylesheet', href='/stylesheets/form.css')
block scripts
  script(src="/javascripts/formToWizard.js")
  script(type='text/javascript', src='/javascripts/markitup/jquery.markitup.js')
  script(src='/javascripts/markdown.js')
  script(src='/javascripts/jquery.motionCaptcha.0.2.js')
  script(src='/javascripts/spin.min.js')
  script(src='/javascripts/epiceditor/js/epiceditor.js', type="text/javascript")
  script(type='text/javascript', src='/javascripts/jquery.autosinpm ze.min.js')
  script(type='text/javascript', src='/javascripts/addform.js')
block content
  form.form-container
    label.form-title
      h4 Name
    input.form-field(type="text",name="name")
    label.form-title
      h4 Summary
    textarea.form-field(name="sum")
    label.form-title
      h4 Description
    div#epiceditor
    label.form-title
      h4 Version
    input.form-field(type="text",name="version")
    label.form-title
      h4 Logo
    input.form-field(type="text",name="logo")
    label.form-title
      h4 Download url
    input.form-field(type="text",name="dl_link")
    input.submit-button(type='submit', value='Submit Form', id='submit')
      #loader

