extends layout
block scripts
  script(src="/javascripts/jquery.mixitup.min.js")
  script(src="/javascripts/main.js")
block navbar
  li
    a(href="/add") Add a new mod
block content
  h1= title
  p Welcome to #{title}
  ul
    li(class="filter", data-filter="cheats") Cheats
    li(class="filter", data-filter="world") World
  div(id="loader")
    img(src="/images/preview.gif")
    #inTurnBlurringTextG
      #inTurnBlurringTextG_1.inTurnBlurringTextG
        | L
      #inTurnBlurringTextG_2.inTurnBlurringTextG
        | o
      #inTurnBlurringTextG_3.inTurnBlurringTextG
        | a
      #inTurnBlurringTextG_4.inTurnBlurringTextG
        | d
      #inTurnBlurringTextG_5.inTurnBlurringTextG
        | i
      #inTurnBlurringTextG_6.inTurnBlurringTextG
        | n
      #inTurnBlurringTextG_7.inTurnBlurringTextG
        | g
      #inTurnBlurringTextG_8.inTurnBlurringTextG
        | .
      #inTurnBlurringTextG_9.inTurnBlurringTextG
        | .
      #inTurnBlurringTextG_10.inTurnBlurringTextG
        | .
  ul(id="Grid")
