extends layout
block scripts
  script(src="/components/requirejs/require.js",  data-main="/app/scripts/main.js")
  
block stylesheets
  link(rel='stylesheet', href="/app/lib/select/bootstrap-select.min.css")
  link(rel='stylesheet', href="/app/css/bootstrap.min.css")
  
block navbar
  div#main-nav
    a(href="/",data-icon="home") Home
    a(href="/add",data-icon="O") Search
    a(href="/upload",data-icon="upload") Add mod
  div#user
    if user
      a(data-icon="u") Welcome #{user.username}
      a#logout(href="/logout") Logout
    else
      a(href="/register", data-icon="user") Register
      a#login(href="/login", title="", onclick="return false") Login
      
block content
  div.screen 
    div.text Loading...
  div(id="loader")
  div.row.row-offcanvas
    aside.col-md-2
      a#upload-mod.btn.btn-primary.btn-lg(data-icon="^",href="/upload") Upload
      ul#categories.list-group
        a.list-group-item.active.collapsed(data-toggle='collapse', data-parent='#categories', href='#collapseCat') Categories
        #collapseCat.panel-collapse.collapse
          a.list-group-item(class="filter", data-filter-type="category", data-filter="all") All
          a.list-group-item(class="filter", data-filter-type="category", data-filter="mobs") New mobs
          a.list-group-item(class="filter", data-filter-type="category", data-filter="gameplay") Gameplay
          a.list-group-item(class="filter", data-filter-type="category", data-filter="cheats") Cheats
          a.list-group-item(class="filter", data-filter-type="category", data-filter="world") World
          a.list-group-item(class="filter", data-filter-type="category", data-filter="decoration") Decoration
          a.list-group-item(class="filter", data-filter-type="category", data-filter="gui") GUI
          a.list-group-item(class="filter", data-filter-type="category", data-filter="sounds") Sounds
          a.list-group-item(class="filter", data-filter-type="category", data-filter="fixes") Fixes
        a.list-group-item 
          p.small.list-group-item-text Click above to see
         ul#categories.list-group
      ul#order.list-group
        a.list-group-item.active.collapsed(data-toggle='collapse', href='#collapseOrd', data-parent='#order') Sort order
        #collapseOrd.panel-collapse.collapse
          a.list-group-item(class="filter", data-filter-type="order", data-filter="date") Date (descend)
          a.list-group-item(class="filter", data-filter-type="order", data-filter="-date") Date (ascend)
          a.list-group-item(class="filter", data-filter-type="order", data-filter="vote_count") Most stars 
          a.list-group-item(class="filter", data-filter-type="order", data-filter="-vote_count") Fewest stars
          a.list-group-item(class="filter", data-filter-type="order", data-filter="downloads") Most downloads
          a.list-group-item(class="filter", data-filter-type="order", data-filter="-downloads") Fewest downloads
          a.list-group-item(class="filter", data-filter-type="order", data-filter="name") Name (descend)
          a.list-group-item(class="filter", data-filter-type="order", data-filter="-name") Name (ascend)
        a.list-group-item 
          p.small.list-group-item-text Click above to see
    #main.col-md-7
      ul(id="Grid")
    #cart-content.col-md-2
      strong(data-icon="cartfill") Cart <span class="badge" id="cartcount">0</span>
      ul#cartitems
        li.emptycart There is no item yet