html
  head
    title OpenCubes - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/components/nprogress/nprogress.css')
    block stylesheets
    block scripts
  body
    header
      nav
        div#menu
          block navbar
    div#content
      block content