doctype 5
html
  head
    title OpenCubes - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/components/nprogress/nprogress.css')
    block stylesheets
    block scripts
  body
    header
      nav.navbar.navbar-primary.navbar-fixed-top
        div#menu
          block navbar
    div#content.container
      block content