#medias
  %h2 Manage medias
#changelog
  %h2 Manage changelog
  %input{type: "text"}
  %pre v10
#files
  %h2 Manage files 
  %strong Post here classes or resources contained in your minecraft.jar
  %input#fileupload{data-url: "/file/upload", multiple: "multiple", name: "files[]", type: "file"}/
  #progress
    .bar{style: "width: 0%;"}