.meta
  .logo
    %img.mod_logo{src: "http://icons.iconarchive.com/icons/icojam/blue-bits/128/module-puzzle-icon.png"}/
  .title
    %span.name=name
    %span.n2v> v
    %span.version 1.6.6#5.2.3
    %span.v2a> by 
    %span.author> 
      %a= author.username
  .stats
    %span.label starred
      %span.info> 52 
    times
    %span.label downloaded
      %span.info> 52
    times
    %span.label forked
      %span.info> 52
    times
    %span.label commented
      %span.info> 52
    times
    %span.label starred
      %span.info> 52
    times
    