.nav
  .back{data-icon: "back", onclick: "history.go(-1)"} Go back
.meta
  .logo
    %img.mod_logo{src: "http://icons.iconarchive.com/icons/icojam/blue-bits/128/module-puzzle-icon.png"}/
  .metatext
    .title
      %span.name=name
      %span.n2v> v
      %span.version 1.6.6#5.2.3
      %span.v2a> by 
      %span.author> 
        %a= author.username
    .stats
      %span.label{data-icon: "stare"} stars
        %span.info> 52 
      %span.label{data-icon: "download"} downloads
        %span.info> 52
      %span.label{data-icon: "fork"} forks
        %span.info> 52
      %span.label{data-icon: "bubbles"} comments
        %span.info> 52
  - if (canedit){
  #actions
    %a#edit{href: "/edit/#{slug}"} Edit this mod
  - }
#tabs
  %ul.nav.nav-tabs#tabs
    %li.active
      %a{href: "#desc"} Description
    %li
      %a{href: "#features"} Features
    %li
      %a{href: "#medias"} Medias
    %li
      %a{href: "#comments"} Comments
    %li
      %a{href: "#changelog"} Changelog
    %li
      %a{href: "#files"} Files
  #tabs_container.tab-content
    .desc#desc.tab-pane.active
      .main-desc= htmldesc
    .changelog.tab-pane#changelog
      .main-cl v1.0
