%li.mix.undefined.mix_all{"data-name" => "", "data-version" => "1.6#1.5.63"}
  %img.mod_logo{src: "http://icons.iconarchive.com/icons/icojam/blue-bits/128/module-puzzle-icon.png"}/
  .modinfo
    %a.view{"data-id" => "undefined", href: "/view/undefined"}
      %h1.title= name
      %h6.summary.text= summary
    .links
      %a{"data-icon" => "play", "data-id" => "undefined", href: "/demo/undefined", id: "demo demo_undefined"} demo
      %a{"data-icon" => "eye", "data-id" => "undefined", href: "/view/undefined", id: "view view_undefined"} view
      %a{"data-icon" => "cartfill", "data-id" => "undefined", href: "/cmod/undefined", id: "cmod cmod_undefined"} cart
      %a{"data-icon" => "stare", "data-id" => "undefined", href: "/star/undefined", id: "star star_undefined"} 1,552,256