%form{role: "form"}
  .form-group
    %label{for: "modNameInput"} Mod Name
    %input#modNameInput.form-control{placeholder: "Make it awesome !!!", type: "text", name: "name"}/
  .form-group
    %label{for: "modSumInput"} Summary
    %textarea#modSumInput.form-control{placeholder: "Make it catchy : it will be displayed while browsing mods !!!", name: "sum"}
  .form-group
    %label{for: "modCategoryInput"} Category
    %select#modCategoryInput.form-control.select.selectpicker{name: "category", tabindex: "2", data-style: "btn-primary"}
      %option{value: "cheats"} Cheats
      %option{value: "decoration"} Decoration
      %option{value: "fixes"} Fixes
      %option{value: "gameplay"} Gameplay
      %option{value: "gui"} GUI
      %option{value: "misc"} Misc
      %option{value: "mobs"} Mobs
      %option{value: "sounds"} Sounds
      %option{value: "world"} World
  .form-group
    %label{for: "editor"} Complete description
    %textarea#editor.form-control{name: "desc"}
  %button.btn.btn-success.btn-lg#submit{type: "submit"} Submit
